<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="OwUser" value="paulo.lopes@interfile.com.br"/>
    <add key="OwPassword" value="Inter@2018"/>
  </appSettings>
</configuration>